{% extends 'Monitore/main.html' %}

{% load static %}

{% block conteudo %}
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Monitorias</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="card">
              <div class="card-header border-transparent">
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Disciplina</th>
                      <th>Data</th>
                      <th>Horário</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in Monitoria %}
                      <tr>
                        <td>{{i.disciplina.nome_disciplina}}</td>
                        <td>{{i.data}}</td>
                      <td>{{i.horario}}</td>
                      <td><a class="btn btn-bloc btn-warning" type="button" href="{% url 'monitoria-detail' i.id %}">Detalhar</a></td>
                      <td><a class="btn btn-bloc btn-info" type="button" href="{% url 'monitoria_update' i.id %}">Atualizar</a></td>
                      <td><a class="btn btn-bloc btn-danger" type="button" href="{% url 'monitoria_delete' i.id %}">Excluir</a></td>
                      </tr>
                    {%endfor%}
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          </div>
          <!-- /.col-md-6 -->
        </div>
        </div>
    </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock conteudo %}